*{
    padding: 0%;
    margin: 0;
    border: 1px, red;
}
*{
    transition-timing-function: 1s, ease-in-out;
}

body{
    overflow: hidden;
}

#main{
    position: relative;
    height: 100vh;
    width: 100%;
}

#top{
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 75%;
    background-color: tomato;
    transform: rotate(0deg);
}

header{
    position: absolute;
    left: 20%;
    top: 10%;
    font-size: 4rem;
    width: 50%;
    height: 12%;
    background-color: beige;
    padding: 2px;
}

nav{
    position: absolute;
    right: 1%;
    top: 1%;
    font-size: 1.5rem;
    font-family: sans-serif;
    background-color: beige;
}
nav a{
    color: black;
    font-family: serif;
}
nav a:hover{
    color: blue;
}

#bot{
    position: absolute;
    width: 100%;
    height: 60%;
    background-color: beige;
    left: 10%;
    top: 28%;
    transform: rotate(-5deg);
}

#side{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    position: absolute;
    background-color: lightgray;
    width: 25%;
    height: 100vh;
    left: 0;
    top: 0;
}
#sidetitle{
    grid-column: 1;
    grid-row: 1;
    width: 1fr;
    height: 1fr;
    background-color: lightgray;
    text-align: center;
}
#sidetitle h1{
    padding-top: 8%;
}
.post{
    position: relative;
    width: 94%;
    height: 90%;
    background-color: lightgoldenrodyellow;
    margin-left: 3%;
    margin-bottom: 2%;
    justify-content: center;
    transition:all 0.5s ease-in-out
}
.post img{
    position: absolute;
    height: 82.5%;
    right: 50%;
    transform: translate(50%);
    top: 2.6%;
}
.post p{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 11%;
    bottom: 2%;
    opacity: 100;
}
.post p a{
    color: blue;
}
.post:hover{
    width: 97%;
    height: 97%;
    opacity: 100;
}

#container{
    border: 2px solid black;
    position: relative;
    top: 37%;
    left: 40%;
    height: 0;
    width: 600px;
    height: 250px;
    background-color: transparent;
}

#Title{
    position: absolute;
    top: 0;
    height: 41px;
    width: 450px;
    background-color: whitesmoke;
    color: tomato;
    padding: 6px;
}

#cside{
    position: absolute;
    top: 0;
    right: 0;
    height: 250px;
    width: 150px;
    background-color: whitesmoke;
    border-left: 2px solid black;
}

#Text{
    position: absolute;
    background-color: whitesmoke;
    height: 209px;
    width: 450px;
    bottom: 0;
    color: grey;
}
#Text p {
    padding: 7px;
    margin-left: 12px;
}